* {
    box-sizing: border-box;  /* RWD 필수 */
	background-color: black;
	margin-bottom: 2px;
	padding-bottom: 10px;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}


#wrap{
	width:1001px;
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	min-height: 780px;
	
}

header {
    background: black;    
    width: 100%;
    height:  auto;   
    text-align: center;      
   
}
nav#menu {

	width: 100%;
	height: auto;
	float: left;	
	text-align: center;
    
}

nav#menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 100;
	
}

nav#menu ul li {
	float: left;
	margin: 0 30px;
}

nav#menu a {
	text-decoration: none;
	color: white;	
	font-weight: bold;
	font-size: 14px;
	display: block;
	height: 20px;
	padding: 10px;
}

nav#menu a:hover{
	color: gray;
}

#logo_hide {
	display: none;
}


#logo_hide1 {
    color: skyblue;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide2 {
    color: greenyellow;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide3 {
    color:yellow;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide4 {
    color:hotpink;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide5 {
    color: orange;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide6 {
    float: right;
    color: pink;
}


#top_menu_login {
	float: right;
	margin: 10px 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_login a {
	text-decoration: none;
	color: white;
}

#top_menu_login a:hover {
	color: gray;
}


#top_menu_service {
	float: left;
	margin: 10px 0 0 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_service a {
	text-decoration: none;
	color: white;
}

#top_menu_service a:hover {
	color: gray;
}

#top_menu_down {
	float: right;
	margin: 10px 80px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_down a {
	text-decoration: none;
	color: white;
}

#top_menu_down a:hover {
	color: gray;
}

section {
     width: 100%;
     height: auto;
}

hr {
    margin : 0;
    padding : 0;
}

table {
    font-size: 15px;
    
}

table td {
    color: #C0C0C0;

}

i {
    color: gray
}

table tr:hover {
    opacity: 0.5;
    height: 130px;
}

table tr td {
   cursor: pointer; 
}

.clear {
	clear: both;
}

table, table td, table th {
    border: 1px solid gray;
    border-left: none;
    border-right: none;
}

table {
    border-collapse: collapse;
}

footer {
	height: auto;
}


#footer_1{
	float: right;
	margin: 10px 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	word-spacing:5px;  
	
}

#footer_1 a {
	text-decoration: none;
	color: #D2D2D2	;
}

#footer_1 a:hover {
	color: gray;
}

#footer_2{
	float: left;
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	word-spacing:5px;  /* 자간 간격 */
}

#footer_2 a {
	text-decoration: none;
	color: #D2D2D2
}

#footer_2 a:hover {
	color: gray;
}

#footer_3 , #footer_4{
	float: left;
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	word-spacing:5px;  /* 자간 간격 */
	color:gray ;
	cursor: auto;
}

#footer_image img{
	margin-left: 12px;
}

/* 밑에부터는 login.html을 위한 css */
#loginDisplay {
	text-align: center; font-size: 12px; margin-top: 50px; margin-bottom: 100px;
}

#inputID, #inputPW {
	width: 300px; height: 50px;
}

#buttonG {
	margin-top: 20px;
}

#button1, #button2, #button3 {
	width: 300px; height: 50px; background-color: rgba(66, 65, 65, 0.938); font-weight: bolder; cursor: pointer
}

#button2 {
	background-color: yellow;
	color: black;
}

#button3 {
	background-color:  rgb(90, 216, 31);
	color: black;
}

#secret_service {
	margin-top: 80px;
	

}

#secret_service a {
	text-decoration: none;
	color: white;
}

#secret_service a:hover {
	
	color: gray;
}


.modal {
    width: 100%;  /* 윈도우 전체 차지 */
    height: 100%; /* 윈도우 전체 차지 */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 1; /* 최상단에 보이게 하기 */
    overflow: auto;  /* 필요한 경우 스크롤바 생기기 */

    display: none;  /* 기본적으로 팝업 안보이기 */
}

.modal-content {
	width: 50%;
	height: 50%;
    background-color: rgba(128, 128, 128, 0.705)
    ;
    margin: 15% auto;  /* top 에서 15%, 좌우 균일(중앙정렬) */
    padding: 20px;
    border: 1px solid #888;
}

#closeGo, #closeGo2 {
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    float: right;
}


#closeGo:hover, #closeGo:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#closeGo2:hover, #closeGo2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

p {
	 background-color: rgba(128, 128, 128, 0.705);
	 font-size: 20px;
}

#modal-c div {
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.col-m-12 {width: 100%;}

	#wrap {width: 100%}

	#search_login_img { display: none;}
	
	.album_name {display: none;}

	.middle { display : none;}

	footer { display: none;}

	#modal-c img, p {display: none;}
	
	

}