

* {
    box-sizing: border-box;  /* RWD 필수 */
	background-color: black;
	margin-bottom: 2px;
	padding-bottom: 10px;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}



#wrap{
	width:1001px;
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	min-height: 780px;
	
}



header {
    background: black;    
    width: 100%;
    height:  auto;   
    text-align: center;      
   
}
nav#menu {

	width: 100%;
	height: auto;
	float: left;	
	text-align: center;
    
}

nav#menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 100;
	
}

nav#menu ul li {
	float: left;
	margin: 0 30px;
}

nav#menu a {
	text-decoration: none;
	color: white;	
	font-weight: bold;
	font-size: 14px;
	display: block;
	height: 20px;
	padding: 10px;
}

nav#menu a:hover{
	color: gray;
}

#logo_hide {
	display: none;
}


#logo_hide1 {
    color: skyblue;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide2 {
    color: greenyellow;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide3 {
    color:yellow;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide4 {
    color:hotpink;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide5 {
    color: orange;
    font-size: 20px;
    font-family: Kirang Haerang;
}

#logo_hide6 {
    float: right;
    color: pink;
}

#top_menu_login {
	float: right;
	margin: 10px 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_login a {
	text-decoration: none;
	color: white;
}

#top_menu_login a:hover {
	color: gray;
}


#top_menu_service {
	float: left;
	margin: 10px 0 0 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_service a {
	text-decoration: none;
	color: white;
}

#top_menu_service a:hover {
	color: gray;
}

#top_menu_down {
	float: right;
	margin: 10px 80px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing:5px;  /* 자간 간격 */
}

#top_menu_down a {
	text-decoration: none;
	color: white;
}

#top_menu_down a:hover {
	color: gray;
}





section {
	width: 50%;
	height: auto;
	border: 1px solid gray;
	float: left;
}

#album_list {
	border-bottom: none;
	border-right: none;
	border-left: none;
}

#song_list {
	border-bottom: none;
	border-right: none	;
}

#search_login {
	width: 100%;
	height: auto;
	float : left;
}

#search_login_img{
	padding-top: 10px; margin-bottom: 0; padding-bottom: 0px; float: left;
}


#ranking {
	border: 1px solid gray; margin: 4px; padding: 8px 10px 10px 10px; font-size: 14px; 
	
}



#search_bar {
	
	width: 350px;
	
	
	margin-top: 50px;
	margin-left: 30px;
	padding: 13px;
	
	border-left: none;
	border-top: none;
	border-right: none;
	border-color: darkgray;
	
}


#login {
	border-radius: 20%; height: 80px; width: 200px; font-size : 20px; margin-right: 25px; margin-top: 30px; float: right;
}


#search_name {
	font-size: 11px;
	margin-left: 2px;
}

#new_album table {
	margin-top: 15px; padding-top: 15px;
}


#new_album_service {
	float: left;

}

#new_album table tr td {
	width: 33.3%;
	 background-color: rgba(169, 169, 169, 0.295); 
	 text-align: center;
}

#new_album table tr td img {
width: 100%;	
opacity: 1.0;
}

#ranking_search_service{
	
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	word-spacing:5px;  /* 자간 간격 */
}


.middle {
	position: absolute;
	transition: .5s ease;
	opacity: 0;
	transform: translate(0%, -250%);
	text-align: center;
	margin-left: 10px;
	width : 130px;
	cursor: pointer;
	background-color: gray;
	color: black;
	font-weight: bold;
	
  }


#new_album table tr td:hover .new_album_detail {
	opacity: 0.2;
	
	
}

#new_album table tr td:hover .middle {
	opacity: 1.0;
	
	
}



#new_album_list{ 
	float: right;
	margin: 10px 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	word-spacing:5px;  
}   

#footer_1{
	float: right;
	margin: 10px 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	word-spacing:5px;  
	
}

#footer_1 a {
	text-decoration: none;
	color: #D2D2D2	;
}

#footer_1 a:hover {
	color: gray;
}


#new_album_list a {
	text-decoration: none;
	color: white;
}

#new_album_list a:hover {
	color: gray;
}


#new_album_service{
	float: left;
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	word-spacing:5px;  /* 자간 간격 */
}

#new_album_service a {
	text-decoration: none;
	color: white;
}

#new_album_service a:hover {
	color: gray;
}


#footer_2{
	float: left;
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	word-spacing:5px;  /* 자간 간격 */
}

#footer_2 a {
	text-decoration: none;
	color: #D2D2D2
}

#footer_2 a:hover {
	color: gray;
}

#footer_3 , #footer_4{
	float: left;
	margin: 10px 0 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	word-spacing:5px;  /* 자간 간격 */
	color:gray ;
	cursor: auto;
}


hr {
    margin : 0;
    padding : 0;
}





#new_album_msg{
	text-align: center; background-color: rgba(169, 169, 169, 0.295); 
}
#song_list table th {
	text-align: center;
}


#song_list table,  #song_list table td, #song_list table th{
	border-collapse: collapse; font-size:13px; color: #D2D2D2; border: 0.5px solid gray;
}

#song_list td i {
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
}

.artist{
	width: auto;
	height: auto;
	border: 0px;

}

footer {
	height: auto;
}

.banner {position: relative;  overflow: hidden; width: 130px; height: 150px; margin: 25px; margin-left: 40px; }
.banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
.banner ul li {float: left; margin:0; padding:0;}
.banner ul li img  { border-radius: 50%;}

#footer_image img{
	margin-left: 12px;
}

i , #login, #ranking{
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.col-m-12 {width: 100%;}

	#wrap {width: 100%}

	#search_login_img { display: none;}
	
	

	.middle { display : none;}

	#search_login_img { display : none;}
	#ranking {display : none; }
	#search_name {display: none;}   
	#search_bar { float: left;}
	#login {float: left; width: 100%;}
	#search_button {display: none;}
	footer {
		display: none;
	}
}

.clear {
	clear: both;
}


